<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link"
          aria-current="page"
          routerLinkActive="active"
          routerLink="fooldal"
          >Fooldal</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="rolunk"
          >Rolunk</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="termekek"
          >Termekek</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="autok"
          >Autok</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="Bmi">BMI</a>
        <a class="nav-link" routerLinkActive="active" routerLink="kapcsolat"
          >Kapcsolat</a
        >
      </div>
    </div>
  </div>
</nav>

<router-outlet> </router-outlet>

<div class="container-fluid p-2 bg-dark">
  <div class="row">
    <div class="col">
      <h4 class="text-center text-white">&copy; Nagy David</h4>
    </div>
  </div>
</div>
