<div class="container my-3">
  <div class="row">
    <div class="col-12 col-md-7 my-3">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2725.273682426408!2d18.25398927699403!3d46.917000971135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4769c2a4bdd77417%3A0x9802d8fecad29cf9!2sEnying%2C%20Istv%C3%A1n%20kir%C3%A1ly%20u.%2062%2C%208130!5e0!3m2!1shu!2shu!4v1696744300929!5m2!1shu!2shu"
        width="600"
        height="450"
        style="border: 0; margin: 0px; padding: 0px"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="col-12 col-md-5 my-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nev:</th>
            <td>Nagy David</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Tel.szam:</th>
            <td>306339232</td>
          </tr>
          <tr>
            <th>email:</th>
            <td>davidnagy89@freemail.hu</td>
          </tr>
          <tr>
            <th>cim:</th>
            <td>Enying, István Király u 62.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-12 text-justify mx-2">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique harum
    quibusdam fuga quod, quis facere rem quidem esse ullam libero odio a autem
    magnam eligendi aperiam sed tempora? Amet! Velit doloribus quo deleniti
    dolores culpa voluptas, illo quos sint? Praesentium consequatur quisquam
    iure ratione id et obcaecati odio, quidem repudiandae ipsam in suscipit
    nihil officiis accusantium, inventore exercitationem cumque? Sapiente sit,
    asperiores accusantium dolores iste harum incidunt ut magnam sequi, minus
    nesciunt molestiae, facere commodi. Laudantium sed assumenda doloribus earum
    repellendus. Distinctio quod ratione eius perferendis quia incidunt ipsum.
  </p>
</div>
